.lc-stack {
  height: 150px;
}

.container {
  font-family: sans-serif;

  .example-chart {
    border: 1px solid #eee;
  }

  .explanation {
    font-family: sans-serif;
    padding: 8px;
  }

  .lc-stack.x-axis-stack {
    flex: initial;
    height: 20px;
  }

  .lc-stack.snap-to-x-domain-button-stack {
    flex: initial;
    height: 20px;

    .snap-to-x-domain-button {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #eee;
        cursor: pointer;
      }
    }
  }
}
