.lc-stack {
  position: relative;
  overflow: hidden;

  > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .interaction-capture {
    z-index: 1;
  }
}

.lc-chart-provider {
  display: flex;
  flex-direction: column;
  height: 200px;

  .lc-stack {
    flex: 1;
    // TODO: Autoprefixer.
    user-select: none;
    -webkit-user-select: none;
  }

  // Make this pretty specific so you don't accidentally make it giant.
  > .lc-stack.autoinjected-resize-sentinel-stack {
    flex: initial;
    height: 0;
  }
}
