.lc-stack {
  position: relative;
  overflow: hidden;

  .lc-layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .lc-layer.interaction-capture {
    z-index: 1;
  }
}
